html,body{
    margin:0;
    height:100%;
    overflow:none;
}

 #menu-bar {
	width: 100%;
 	height: 7%; 
 	background-color: #02303A; 
 	position:fixed;
 	z-index: 200;
 	top: 0px;
 }

.wrapper {
		display: none;
		grid-template-columns: 5% 30% 30% 30% 5%;
		/*grid-gap: 1px;*/
		background-color: #02303A;
		height: 91%;
		width: 100%;
		position: fixed; 
		margin-top: 3%;
		opacity: 0.98;
}

.box {
  background-color: #02303A;
  font-size: 150%;
  color: #AADCE8;
  border-radius: 0px;
  padding-left: 20px; 
  padding-top: 10px;
}

.menu-item:hover {
	background-color: #356368;
}

.menu-item:hover .sec-submenu-item {
	color: #AADCE8;
}

.menu-item:hover .sec-submenu-item:hover {
	color: #fff;
}

#logo {
	fill: #fff;
	height: 95%;
	width: auto;
	margin-left: 10px;
	margin-top: 1px;
	float: left; 
}

#menu-icon {
	fill: #fff;
	height: 100%;
	width: auto;
	float: right;
}

#menu-icon:hover {
	cursor: pointer;
}

.submenu-item {
	float: left;
}

.submenu-item>li {
	list-style-type: none;
}

.submenu-item>li:hover {
	cursor: pointer;
	color: #fff;
}

.main-submenu-item {
	font-size: 150%; 
	padding-bottom: 20px; 
}

.sec-submenu-item {
	font-size: 70%; 
	color:  #356368;
	padding-bottom: 5px; 
}