html,body{
    margin:0;
    height:100%;
    font-family: 'Roboto', sans-serif;
}

.content-description {
	padding: 0;  
}

.part-content {
	margin-bottom: 100px; 
}

.part-content .title {
	text-align: center;  
	font-size: 300%; 
	color: #215054;	
	padding-top: 50px;
	padding-left: 15%; 
	padding-right:15%;
}

.part-content p {
	font-size: 150%; 
	padding-left: 15%; 
	padding-right:15%;
	color: #103E42;
}

figure {
	text-align:center; 
	font-size: 150%; 
	margin:0;
	padding: 50px; 
	color: #103E42;
}

figcaption {
	text-align:left; 
	padding-left: 15%; 
	padding-right:15%;
}

figure img {
	width:70%;
	height: auto; 
	padding-bottom: 10px;
}
