html,body{
    margin:0;
    height:100%;
    overflow:none;
}

#description-container p{
    font-family: 'Roboto', sans-serif;
}


#photo {
	width:100%;
	height: 70%;
	background-color: #428184;
}

#photo img {
       width: 100%; 
       height: auto; 
}

#title p {
	margin-left: 200px; 
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 400%;
	color: #02303A;
}

.teammate {
	display: inline-block;
	position: relative;
	float: left;
	margin-left: 6.5%; 
	width: 25%;
	min-height: 600px;
	color: #02303A;
	text-align: center; 
}

.teammate-photo {
	position: absolute;
	width: 100%;
	height: auto;
    	border-radius: 50%;
    	margin-bottom: 10px; 
    	top: 0px;
    	left: 0px;
}

#description-container .name {
	margin-top: 500px;
	width: 100%;
	font-size: 200%;
	min-height: 60px; 
	text-align: center;
}

.over {
	width: 100%;
	opacity: 0;
	background-color: #fff; 
}

.over:hover {
	opacity: 0.9; 
	cursor: pointer;
}

.teammate:hover .teammate-photo {
	cursor: pointer;
}
